<div class="maindiv">
            
			<div id="header"></div>
            
			<div class="menu">
                <button id="namebutton"><img src="images/"/>Diagnosis</button><br>
                <button id="emailbutton"><img src="images/"/>Allergies</button><br>
                <button id="addressbutton"><img src="images/"/>Diet</button><br>
                <button id="checkboxbutton"><img src="images/"/>Checkbox</button><br>
                <button id="radioaddbutton"><img src="images/"/>Nursing</button>
                <button id='createnewbutton'>Create New Section</button>
				<button id="reset">Reset</button>
            </div>
            <h1>{{lunch}}</h1>
			<div class="InputsWrapper1">
                <div id="yourhead">
					<div id="your">
						<h2 id="yourtitle">Checklist Title<img src="images/edit-form.png"/></h2>
						<h4 id="justclickid"> Click on the buttons on the left to start building your checklist.</h4>
					</div>
				</div>	
					<div id="InputsWrapper">
						<button id="checkSubmit" class="btn btn-primary btn-md">Submit Checklist</button>
					</div>
            </div>
</div>