<!DOCTYPE html>
<html lang="en">
<head>
  <title>CheckMed</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {{!-- <link rel="stylesheet" href="./newCreateList.css" /> --}}
</head>
<body>
		{{{ body }}}
</body>
<script src="https://www.gstatic.com/firebasejs/3.6.7/firebase.js"></script>
{{!-- <script type="text/javascript" src='./newCreateList.js'></script> --}}
</body>
</html>